<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.godlikehzj.guangming.service.mapper.ProductionMapper">
    <resultMap id="production" type="com.godlikehzj.guangming.bean.Production">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="series" jdbcType="VARCHAR" property="series"/>
        <result column="subType" jdbcType="VARCHAR" property="subType"/>
        <result column="capacity" jdbcType="INTEGER" property="capacity"/>
        <result column="price" jdbcType="REAL" property="price"/>
    </resultMap>

    <select id="getProductions" resultMap="production">
        <![CDATA[
        SELECT * FROM production WHERE status=1;
        ]]>
    </select>

    <select id="getProduction" resultMap="production">
        <![CDATA[
        SELECT * FROM production WHERE series = #{series} AND subType = #{subType}
        ]]>
    </select>

    <select id="getSeries" resultType="String">
        <![CDATA[
        SELECT DISTINCT(series) FROM production WHERE status = 1;
        ]]>
    </select>
</mapper>